<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:redis="http://www.springframework.org/schema/redis"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/redis http://www.springframework.org/schema/redis/spring-redis.xsd">

	<context:annotation-config/>
	
	<bean class="org.springframework.session.jdbc.config.annotation.web.http.JdbcHttpSessionConfiguration"/>
	
	<jdbc:embedded-database id="dataSource" database-name="testdb" type="H2">
	    <jdbc:script location="classpath:org/springframework/session/jdbc/schema-h2.sql"/>
	</jdbc:embedded-database>
	
	<bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
	    <constructor-arg ref="dataSource"/>
	</bean>

<!-- 	<context:annotation-config/> -->
<!-- 	<context:component-scan base-package="org.springframework.web.filter"/> -->
<!-- 	<context:component-scan base-package="com.ctbc.filter.**"/> -->
	
<!-- 	<bean id="jdbcHttpSessionConfiguration" class="org.springframework.session.jdbc.config.annotation.web.http.JdbcHttpSessionConfiguration"> -->
<!-- 	</bean> -->
	
<!-- 	<bean id="myDatasource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"> -->
<!-- 		<property name="url"              value="jdbc:sqlserver://172.24.17.52:1803;databaseName=ITOA_MAIN"/> -->
<!-- 		<property name="driverClassName"  value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/> -->
<!-- 		<property name="username"         value="ITOA_MAIN_mod"/> -->
<!-- 		<property name="password"         value="f3ru9cj4"/> -->
<!-- 	</bean> -->
		
<!-- 	<bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager"> -->
<!-- 		<constructor-arg ref="myDatasource" /> -->
<!-- 	</bean> -->

	<!-- 将session放入redis -->
	<!-- <bean id="redisHttpSessionConfiguration" class="org.springframework.session.data.redis.config.annotation.web.http.RedisHttpSessionConfiguration"> -->
	<!-- <property name="maxInactiveIntervalInSeconds" value="1800" /> -->
	<!-- </bean> -->

	<!-- <bean id="configurer" -->
	<!-- class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"> -->
	<!-- <property name="locations"> -->
	<!-- <list> -->
	<!-- <value>classpath:log4j.properties</value> -->
	<!-- <value>classpath:application.properties</value> -->
	<!-- </list> -->
	<!-- </property> -->
	<!-- </bean> -->

	<!-- <context:annotation-config/> -->
	<!-- <context:component-scan base-package="org.springframework.web.filter.DelegatingFilterProxy"/> -->
</beans>
